@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 21761082_이경환 */

body
{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;

    position: relative;

    margin: 0;
    padding: 0;
}

/*---------------------------nav------------------------*/
#header
{
    position: fixed;
    z-index: 3;
    top: 0;

    width: 100%;
    height: 60px;
    margin: 0;

    background: #fff;
}

#logo
{
    position: fixed;

    width: 187px;
    height: 70px;
    margin: 0;
}

#logo a img
{
    width: 68px;
    height: 34px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 60px;
}

#category_list
{
    position: absolute;

    width: 484px;
    margin-top: 0;
    margin-left: 188px;
}

#category_list ul
{
    font-size: 13px;
    font-weight: 400;

    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 0;

    list-style: none;

    text-align: center;
}

#category_list ul li a
{
    text-decoration: none;
}

#category_list ul li a p
{
    float: left;

    color: #181818;
}

#category_list ul li a p:hover
{
    font-weight: 500;
}

.d_1 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.d_2 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.d_3 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.d_4 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#insta a img
{
    float: right;

    margin-top: 13px;
    margin-right: 60px;
    margin-bottom: 13px;
}

/*---------------------------banner------------------------*/

#banner_img
{
    width: 100%;
    height: 386px;
    padding-top: 60px;

    background: url('./../img/goods/banner.png')no-repeat 50% 50% / cover;
}

#banner_text
{
    width: 100%;
    height: 249px;
    margin: 0 0;

    border-bottom: 1px solid #bdbdbd;
}

.text_wrap
{
    width: 940px;
    height: 201px;
    margin: 0 auto 0 auto;
    padding: 24px 0 24px 0;

    text-align: center;
}

.text_wrap h1
{
    font-size: 18px;
    font-weight: 500;

    width: 940px;
    height: 28px;
    margin: 0 0;

    color: #181818;;
}

#line
{
    width: 30px;
    height: 1px;
    margin: 22px  455px  22px 455px;

    background: #bdbdbd;
}

.text_wrap h2
{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    width: 780px;
    height: 90px;
    margin: 0 auto 0 auto;

    letter-spacing: -.2px;

    color: #181818;
}

/*---------------------------contents------------------------*/

#contents
{
    width: 100%;
    height: auto;
    padding: 48px 0 48px 0;
}

.contents_wrap
{
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;

    width: 960px;
    height: auto;
    margin: 0 auto 48px auto;
}

.item
{
    display: inline-block;

    width: 460px;
    height: 414px;
    margin: 0 10px 80px 10px;
}

.item
{
    text-decoration: none;
}

.item div
{
    width: 460px;
    height: 308px;
    margin: 0 0;
    padding: 0 0;
}

.item h1
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    display: inline-block;
    float: left;

    width: 450px;
    height: 32px;
    margin: 14px 0 0 10px;

    color: #181818;
}

.item h2
{
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;

    display: inline-block;

    width: 450px;
    height: 34px;
    margin: 0 0 0 10px;

    color: #808080;
}

.item1 div
{
    background: url('./../img/goods/a1.jpg') no-repeat 50% 50% / cover;
}

.item2 div
{
    background: url('./../img/goods/a2.jpg') no-repeat 50% 50% / cover;
}

.item3 div
{
    background: url('./../img/goods/a3.png') no-repeat 50% 50% / cover;
}

.item4 div
{
    background: url('./../img/goods/a4.jpg') no-repeat 50% 50% / cover;
}

.item5 div
{
    background: url('./../img/goods/a5.png') no-repeat 50% 50% / cover;
}

.item6 div
{
    background: url('./../img/goods/a6.png') no-repeat 50% 50% / cover;
}
/*---------------------------footer---------------------------*/
#footer
{
    width: 100%;
    height: 150px;

    text-align: center;

    background: #181818;
}

#footer div
{
    display: inline-block;

    width: 100%;
    height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#footer div a img
{
    display: inline-block;

    width: 44px;
    height: 22px;
}

#footer h1
{
    font-size: 18px;
    font-weight: 400;

    display: inline;

    width: 300px;
    height: 16px;

    color: #bababa;
}

#footer h1 p
{
    font-size: 10px;
    font-weight: 200;

    display: inline;

    color: #bababa;
}

#footer p
{
    font-size: 10px;
    font-weight: 200;
    line-height: 12px;

    margin-top: 2px;
    margin-bottom: 40px;

    color: #bababa;
}
