@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 21761082_이경환 */
body
{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;

    margin: 0 auto;
    padding: 0 0;
}

/*---------------------------nav------------------------*/
#header
{
    position: fixed;
    top: 0;

    width: 100%;
    height: 60px;
    margin: 0 0;

    background-color: rgb(255, 255, 255);
}

#logo
{
    position: fixed;

    width: 187px;
    height: 70px;
    margin: 0;
}

#logo a img
{
    width: 68px;
    height: 34px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 60px;
}

#category_list
{
    position: absolute;

    width: 484px;
    margin-top: 0;
    margin-left: 188px;
}

#category_list ul
{
    font-size: 13px;
    font-weight: 400;

    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 0;

    list-style: none;

    text-align: center;
}

#category_list ul li a
{
    text-decoration: none;
}

#category_list ul li a p
{
    float: left;

    color: #181818;
}

#category_list ul li a p:hover
{
    font-weight: 500;
}

.d_1 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.d_2 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.d_3 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.d_4 a p
{
    width: 100px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#insta a img
{
    float: right;

    margin-top: 13px;
    margin-right: 60px;
    margin-bottom: 13px;
}

/*---------------------banner_c1---------------------*/
#banner_c1_pic_1
{
    width: 100%;
    height: 500px;
    margin-top: 60px;

    text-align: center;

    background: url('./../img/index/banner_1.jpg') no-repeat 0 80% / cover;
}

.banner_c1_text
{
    display: inline-block;

    width: 480px;
    padding: 212px auto;
    padding-top: 212px;
}

.banner_c1_text > p
{
    font-style: italic;
}

#banner_c1_pic_1 strong
{
    font-size: 40px;
    font-weight: 400;

    display: inline-block;

    width: 480px;
    height: 51px;

    color: rgb(255, 255, 255);
}

#banner_c1_pic_1 p
{
    font-size: 20px;
    font-weight: 100;

    width: 480px;
    height: 25px;
    margin: 0 auto;

    color: rgb(255, 255, 255);
}

.banner_c1_btn_l
{
    float: left;

    width: 16px;
    height: 30px;
    margin-top: 235px;
    margin-left: 150px;
}

.banner_c1_btn_r
{
    display: block;
    float: right;

    width: 16px;
    height: 30px;
    margin-top: 235px;
    margin-right: 150px;
}

/*---------------------banner_c2---------------------*/



/* #banner_c2_wrap
{
    overflow: hidden;

    width: 300vw;
    height: 500px;
    margin: 0 0;
    padding: 0 0;

    white-space: nowrap;
}

.banner_c2_content
{
    float: left;

    width: 100vw;
    height: 500px;

    transition: transform .5s;
}

.banner_c2_content img
{
    width: 100%;
}

#banner_c2_wrap div[class*='slide_control']
{
    position: absolute;
    left: 0;

    width: 100vw;
    height: 500px;
}

#banner_c2_wrap div > .left
{
    position: absolute;
    top: 235px;
    left: 10%;

    width: 16px;
    height: 30px;

    cursor: pointer;

    background: url('img/slide/banner_btnl.png');
}
#banner_c2_wrap div > .right
{
    position: absolute;
    top: 235px;
    right: 10%;

    float: right;

    width: 16px;
    height: 30px;

    cursor: pointer;

    background: url('img/slide/banner_btnr.png');
}



#banner_c2_wrap [class*='slide_control']
{
    display: none;
}

#slide_1:checked ~ .slide_control_1
{
    display: block;
}

#slide_2:checked ~ .slide_control_2
{
    display: block;
}

#slide_3:checked ~ .slide_control_3
{
    display: block;
}




#slide_1:checked ~ #banner_c2_wrap > li
{
    transform: translateX(0vw);
}
#slide_2:checked ~ #banner_c2_wrap > li
{
    transform: translateX(-100vw);
}
#slide_3:checked ~ #banner_c2_wrap > li
{
    transform: translateX(-200vw);
} */



/*---------------------product_wrap---------------------*/

#product_title
{
    margin-top: 40px;
    margin-bottom: 0;
}

#product_title p
{
    font-size: 22px;

    margin: 0 0;

    text-align: center;

    color: #181818;
}

#product_r_btn_1
{
    text-align: center;
}

#product_r_btn_1 a
{
    text-decoration: none;

    color: #900;
}

#product_r_btn_1 a p
{
    font-size: 12px;
    font-weight: 400;

    display: inline-block;

    width: 60px;
    height: 14px;
    margin: 13px auto;
    margin-left: 880px;
}
#product_r_btn_1 a p:hover
{
    font-weight: 500;
}

#product_content
{
    width: 940px;
    height: 308px;
    margin: 0 auto;

    text-align: center;
}

.product_c1
{
    display: inline-block;

    width: 460px;
    height: 308px;
    margin-right: 20px;
    padding: 0 0;
}

.product_c2
{
    left: 10px;

    display: inline-block;

    width: 460px;
    height: 308px;
    padding: 0 0;
}

#product_content_text
{
    display: block;

    width: 940px;
    height: 158px;
    margin: 0 auto;
    margin-top: 14px;
    padding: 0 0;

    text-align: center;
}

.product_content_text_1
{
    float: left;

    width: 460px;
    height: 158px;
    margin: 0 0;
    margin-right: 20px;
    padding: 0 0;
}

.product_content_text_1 h1
{
    font-size: 20px;
    font-weight: 700;

    width: 300px;
    height: 32px;
    margin: 0 auto;

    color: #181818;
}

.product_content_text_1 p
{
    font-size: 12px;
    font-weight: 200;

    width: 300px;
    height: 50px;
    margin: 0 auto;

    color: #666;
}

.product_content_text_1 a
{
    text-decoration: none;
}

.product_content_text_1 a p
{
    font-size: 14px;
    font-weight: 400;

    width: 118px;
    height: 22px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 0;

    color: #900;
}

.product_content_text_1 a p:hover
{
    font-weight: 500;
}

.product_content_text_2
{
    float: left;

    width: 460px;
    height: 158px;
    margin: 0 0;
    padding: 0 0;
}

.product_content_text_2 h1
{
    font-size: 20px;
    font-weight: 700;

    width: 300px;
    height: 32px;
    margin: 0 auto;

    color: #181818;
}

.product_content_text_2 p
{
    font-size: 12px;
    font-weight: 200;

    width: 300px;
    height: 50px;
    margin: 0 auto;

    color: #666;
}

.product_content_text_2 a
{
    text-decoration: none;
}

.product_content_text_2 a p
{
    font-size: 14px;
    font-weight: 400;

    width: 118px;
    height: 22px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 0;

    color: #900;
}

.product_content_text_2 a p:hover
{
    font-weight: 500;
}

/*---------------------shopshopshopshopshop---------------------*/
#shop_wrap
{
    width: 100%;
    height: 352px;

    background: #fbfbfb;
}

#shop_text
{
    width: 940px;
    height: 74px;
    margin: 0 auto;
    padding-top: 40px;

    text-align: center;
}

#shop_text h1
{
    font-size: 22px;
    font-weight: 400;

    display: inline;

    width: 140px;
    height: 22px;
    margin-top: 0;
    padding: 0;

    color: #181818;
}

#shop_text p
{
    font-size: 14px;
    font-weight: 100;

    display: inline;

    width: 282px;
    height: 0 0;
    height: 18px;
    margin: 0 0;
    padding: auto 0;

    color: #727272;
}

#shop_content
{
    width: 940px;
    height: 140px;
    margin: 0 auto;
}

.shop_content
{
    display: block;
    float: left;

    width: 300px;
    height: 140px;
    margin: 0 0;
    padding: 0 0;
}

.shop_content img
{
    display: block;
    float: left;

    width: 150px;
    height: 140px;
}

.plus_margin
{
    margin-right: 20px;
}

.shop_content div
{
    float: left;

    width: 130px;
    height: 120px;
    padding: 10px 10px;

    background: url('./../img/index/shop/shop_blur.png');
}

.shop_content div h1
{
    font-size: 16px;
    font-weight: 500;

    width: 120px;
    height: 14px;
    margin: 0 0;
    margin-bottom: 10px;

    color: #181818;
}

.shop_content div p
{
    font-size: 8px;
    font-weight: 100;

    width: 130px;
    height: 96px;
    margin: 0 0;

    color: #666;
}

#shop_content_btn_wrap
{
    display: block;

    width: 940px;
    height: 90px;
    margin: 0 auto;
}

.shop_content_btn
{
    display: block;
    float: left;
}

.shop_content_btn a
{
    text-decoration: none;
}

.shop_content_btn a h1
{
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;

    width: 30px;
    height: 10px;
    margin: 24px 95px 40px 95px;
    padding: 8px 40px 8px 40px;

    text-align: center;

    color: #fff;
    background-color: #222;
}

.shop_content_btn a h1:hover
{
    font-weight: 500;
}

/*---------------------------footer---------------------------*/
#footer
{
    width: 100%;
    height: 150px;

    text-align: center;

    background: #181818;
}

#footer div
{
    display: inline-block;

    width: 100%;
    height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#footer div a img
{
    display: inline-block;

    width: 44px;
    height: 22px;
}

#footer h1
{
    font-size: 18px;
    font-weight: 400;

    display: inline;

    width: 300px;
    height: 16px;

    color: #bababa;
}

#footer h1 p
{
    font-size: 10px;
    font-weight: 200;

    display: inline;

    color: #bababa;
}

#footer p
{
    font-size: 10px;
    font-weight: 200;
    line-height: 12px;

    margin-top: 2px;
    margin-bottom: 40px;

    color: #bababa;
}
